.menu-bar {
    display: flex;
    justify-content: space-between;
}

.menu-icon-button {
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
}
.menu-icon-button:hover {
    border-color: #646cff;
}

.project-title-input {
    background: transparent;
    outline: none;
    border-radius: 8px;
    border: none;
    border-color: none;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    overflow: ellipsis;
    text-align: right;
    width: 100%;
    color: #fff;
  }

  .project-title-input.invalid {
    animation: flash-red 1s;
}

@keyframes flash-red {
    0% { color: red; }
    100% { color: white; }
}
