.object-parameters {
    font-family: Arial, sans-serif;
    padding: 10px;
    /* Make box scrollable */
    overflow: auto;
    flex-grow: 1;
    flex-basis: 0;
    height: 100%;
    background-color: #24343f;
}

.object-parameters h3 {
    margin-top: 0;
}

.object-parameters div,
.object-parameters ul {
    margin-bottom: 10px;
}

.object-parameters ul {
    list-style-type: none;
    padding: 0;
}

.object-parameters li {
    margin-bottom: 18px;
}

.object-parameters input[type="text"],
.object-parameters input[type="number"],
.object-parameters input[type="color"] {
    width: 80px;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
}

.object-parameters input[type="number"]::-webkit-inner-spin-button,
.object-parameters input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.object-parameters input[type="number"]::-moz-inner-spin-button,
.object-parameters input[type="number"]::-moz-outer-spin-button {
    -moz-appearance: textfield;
}

.object-parameters label {
    display: block;
    margin-bottom: 8px;
}

.object-parameters select {
    display: block;
    margin-top: 4px;
}

.toggle-section {
    margin-bottom: 10px;
}

.toggle-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    background-color: #333842;
    /* Slight variation of #282c34 */
    transition: background-color 0.3s ease;
}

.toggle-header h4 {
    margin: 0;
    margin-left: 10px;
    color: #ffffff;
    order: 2;
    /* Ensure the label is after the arrow */
}

.toggle-header:hover {
    background-color: #3a3f4a;
    /* Slightly lighter background color on hover */
}

.toggle-header .toggle-icon {
    font-size: 0.9em;
    /* Make the arrow slightly smaller */
    transition: transform 0.3s ease;
    color: #ffffff;
    order: 1;
    /* Ensure the arrow is before the label */
}

.toggle-content {
    padding: 10px;
    background-color: #282c34;
    /* Background color to match the theme */
    color: #ffffff;
}

.toggle-header.open {
    background-color: #3a3f4a;
    /* Slightly lighter variation for open state */
}
