.objectParameters {
    font-family: Arial, sans-serif;
    /* Make box scrollable */
    overflow: auto;
    flex-grow: 1;
    flex-basis: 0;
    height: 100%;
    background-color: #24343f;
    font-size: 12px;
    /* background-color: #1d2a31; */
}

.object-parameters h3 {
    margin-top: 0;
    font-size: 20px;

}

/* Was used on FrameParameters*/
.basic {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 100px;
    font-family: inherit;
    font-size: small;
    font-weight: 300;
}

.name {
    border: 1px solid transparent;
    transition: border-color 0.25s;
    background-color: #14252e;
    color: #fff;
    text-align: center;
    width: 150px;
    border-radius: 4px;
    outline: none;
    text-align: center;
}.name:hover{
    border-color: #646cff;
}.name:focus{
    border-color: #646cff;
}

.rootName {
    border: 1px solid transparent;
    transition: border-color 0.25s;
    background-color: #3b454a;
    color: #fff;
    text-align: center;
    width: 150px;
    border-radius: 4px;
    outline: none;
    text-align: center;
    pointer-events: none;
}

.momentOfInertia {
    display: flex;
    flex-direction: column;
    gap: 6px;
    /* flex-wrap: wrap;
    justify-content: center; */
}

.mass {
    margin: 16px;
    margin-left: 32px;
}

.jointParent {
    color: #fff; 
    font-size: x-small;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    font-weight: 500;
}


.button {
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: #1d2a31;
}.button:hover {
    border: 1px solid #646cff;
}.button:focus {
    border: 1px solid #646cff;
}

/* .object-parameters div,
.object-parameters ul {
    margin-bottom: 10px;
} */

.object-parameters ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.object-parameters li {
    margin-bottom: 8px;
}


h4 {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 0;
    padding: 4px;
    border-top: 2px solid #141d22;
}
h4:hover {
    border-top: 2px solid #141d22;
}

/* hr{
    border-color: #1d2a31;
} */

/* .object-parameters input[type="text"],
.object-parameters input[type="number"],
.object-parameters input[type="color"] {
    width: 80px;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
    background-color: #202020;
    color: #ffffff;
}

.object-parameters input[type="number"]::-webkit-inner-spin-button,
.object-parameters input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.object-parameters input[type="number"]::-moz-inner-spin-button,
.object-parameters input[type="number"]::-moz-outer-spin-button {
    -moz-appearance: textfield;
}

.object-parameters label {
    display: block;
    margin-bottom: 8px;
}
*/
