.export-displayer {
    height: 90%;
    display: flex;
}

.title {
    margin-top: 0;
    margin-bottom: 10px;
}

.export-list {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
}

.export-option {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.export-option:hover {
    border: 1px solid #646cff;
    border-bottom-right-radius: 32px;
}

.menu-selected {
    background-color: #2b2f72;
    border-bottom-right-radius: 8px;
}

.content {
    width: 100%;
    text-align: center;
    align-content: center;
    font-size: 1.5em;
}

.export-option-span {
    cursor: default;
}

.export-menu-modal {
    width: 100%;
    max-width: 200px;
    z-index: 1000;
    border-bottom-right-radius: 8px;
}

.menu-list {
    background: #14252e;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom-right-radius: 8px;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    border: 1px solid transparent;
}

.menu-item:hover {
    background-color: #646cff;
    border-bottom-right-radius: 8px;
}
