.toolbar {
    display: flex;
}

.toolbar-button {
    font-size: 0.8em;
}

.selected {
    font-size: 0.8em;
    outline: 4px auto -webkit-focus-ring-color;
}

.right-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    overflow: auto;
}
