.code-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.code-container:hover {
    opacity: 0.8;
}

.tooltip {
    position: fixed;
    padding: 5px 10px;
    background: black;
    color: white;
    border-radius: 5px;
    pointer-events: none; /* So it doesn't interfere with other mouse events */
    transform: translate(-50%, -50%);
}

.toolbar {
    position: flex;
}

.toolbar-button{
    font-size: .8em;
}

.selected{
    font-size: .8em;
    outline: 4px auto -webkit-focus-ring-color;
}