.codeContainer {
    position: relative;
    overflow: auto;
    height: 100%;
    overflow: hidden;
    background-color: #24343F;
    padding: 4px;
    display: flex;
}
/* .codeContainer:hover {
    opacity: 0.8;
} */

.tooltip {
    position: fixed;
    padding: 5px 10px;
    background: black;
    color: white;
    border-radius: 5px;
    pointer-events: none; /* So it doesn't interfere with other mouse events */
}
