.insertTool{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    background-color: #1d2a31;
    padding: 10px;
    border-top: 1px solid #fff;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2.6px;
}

.button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1d2a31;
    /* background-color: #24343f; */
    cursor: pointer;
    transition: border-color 0.25s;
    color: #fff;
}
.button:hover {
    border-color: #646cff;
}