.insertTool{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    background-color: #24343f;
    padding: 4px;
    margin-bottom: 4px;
    margin-left: 3px;
    background-color: #24343f;
    padding: 10px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2.6px;
}

.toolbar {
    display: flex;
    justify-content: stretch;
}

.toolbarButton {
    font-family: inherit;
    font-size: small;
    background-color: #24343f;
    border: none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding-left: 8px;
    padding-top: 3px;
    padding-right: 20px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    color: #fff;
}

.button {
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #14252e;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #fff;
}
.button:hover {
    border-color: #646cff;
}

/* Colors

Background: 
#14252e

Dark:
#1d2a31

Light:
#24343f

Purple:
#646cff

Blue:
#28c2ff

*/