.onboarding {
    position: relative;
    height: 100%;
    width: 95%;
}

.bottom-section {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.arrow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.previous-button,
.next-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 3em; /* Adjust size as needed */
    color: inherit; /* Inherit color from parent */
    padding: 0;
    margin: 0;
    outline: none; /* Remove outline */
    appearance: none; /* Remove default button styling in some browsers */
}

.previous-button.hidden,
.next-button.hidden {
    visibility: hidden;
    pointer-events: none;
}

.dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
}

.dot.active {
    background-color: #ffffff;
}

.help-icon-button {
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #fff;
}
.help-icon-button:hover {
    border-color: #646cff;
}