.object-parameters {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* Make box scrollable */
    overflow: auto;
    /* position: absolute; */
}

.object-parameters h3 {
    margin-top: 0;
}

.object-parameters div,
.object-parameters ul {
    margin-bottom: 10px;
}

.object-parameters ul {
    list-style-type: none;
    padding: 0;
}

.object-parameters li {
    margin-bottom: 5px;
}

.object-parameters input[type="text"],
.object-parameters input[type="number"],
.object-parameters input[type="color"] {
    width: 80px;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
}

.object-parameters input[type="number"]::-webkit-inner-spin-button,
.object-parameters input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.object-parameters input[type="number"]::-moz-inner-spin-button,
.object-parameters input[type="number"]::-moz-outer-spin-button {
    -moz-appearance: textfield;
}

.object-parameters input[type="number"] {
    -moz-appearance: textfield;
}

.object-parameters label {
    display: block;
    margin-bottom: 8px;
}

.object-parameters select {
    display: block;
    margin-top: 4px;
}

.toggle-section {
    margin-bottom: 10px;
}

.toggle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}

.toggle-header h4 {
    margin: 0;
}

.toggle-content {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 4px 4px;
}