.code-container {
    position: relative;
    overflow: auto;
    height: 100%;
    overflow: hidden;
}

.code-container:hover {
    opacity: 0.8;
}

.tooltip {
    position: fixed;
    padding: 5px 10px;
    background: black;
    color: white;
    border-radius: 5px;
    pointer-events: none; /* So it doesn't interfere with other mouse events */
    transform: translate(-50%, -50%);
}