.treeFrame {
    border: 1px solid transparent;
    flex-grow: 1;
    font-family: inherit;
    /* background-color: #1d2a31; */
    background: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #fff;
}

.treeProperty {
    border: 1px solid transparent;
    font-family: inherit;
    background-color: #1d2a31;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #fff;
}.treeProperty:hover {
    border-color: #646cff;
}